<p>
	<strong>Name:</strong>
	<%= @user.username %>
</p>

<p>
	<strong>Email:</strong>
	<%= @user.email %>
</p>


<%= link_to 'Edit User Info', edit_user_path(@user) %> |
<%= link_to 'Back to Users', users_path %>